
/* .................. nav-text .................. */
#nav-1-s1 {
    color: rgb(255, 255, 255);
    display: block;

}
#nav-1-s2 {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 100;
    display: block;
}

#nav-1-s3 {
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    font-weight: bold;
    display: block;
}

#nav-1-s4{
    color: rgb(240,136,4);
    font-size: 1rem;
    font-weight: bold;
}


/* .................... span .................... */


.red-back{
    background-color: rgb(199,21,64);
    color: white;
}

#red-text-1 {
    color: rgb(221,0,0);
    font-weight: 400;
    font-size: 20px;
    margin: 2px 2px;
}

.price-nav {
    color: rgb(174,46,15);
}

.price-nav-big {
    color: rgb(174,46,15);
    font-size: 24px;
}

/* .................... br-div .................... */


.br-div {
    border: 1px solid rgb(213,217,217);
    width: 99%;
    height: 1px;
    padding: 0 10px;
} 

.br-div-2 {
    border: 1px solid rgb(213,217,217);
    width: 100%;
    height: 1px;
    margin: 0 0;
} 


/* ....................table.................... */


.hidden {
    display: none;
  }

button.reset-button {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font-size: 1em;
    color: blue; 
    cursor: pointer;
  }

.reset-button {
   all: initial; 
  }

.table-bold{
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;

}

.ul-1 {
    padding: 0;
    text-decoration: none;
    margin: 0;
}

